@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;

}
body{ 
        display: flex;
        justify-content:center;
        align-items:center;
        min-height:100vh;
        flex-direction: column;
        background-image: url('./image/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}
.container{
    width: 400px;
    height:400px;
    background-color:white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgb(123,114,114);
}
.heading{
   text-align: center; 
   font-size: 20px;
   font-family:'Roboto',sans-serif; 
   font-weight:bold;
   color: rgb(182,53,53);
   margin-top: 35px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}
.input-container input{
  font-size: larger;
  border: none; 
  box-shadow: 0px 0px 2px 1px rgb(37,34,34); 
  padding: 4px 10px;
  border-radius: 5px;
  font-family: 'Roboto',sans-serif; 
  outline:none ;
  width: 50%;
}
.input-container input:hover{
    box-shadow: 0px 0px 1px 1px rgb(37,34,34);
}
.submit-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}
#calculate{
    padding: 4px 10px;
    font-size: larger;
    background-color: rgb(182,53,53);
    border-radius: 3px;
    color: white;
    outline: none;
    outline: none;
    box-shadow: 2px 3px 4px rgb(55,52,52);
    transition: 0.4s;
    cursor: pointer;
}
#calculate:active{
    box-shadow: none;
    font-size: large;
}
#loanTenure{
    width: 58px;
    margin-left: 65px;
    margin-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.radio-container{
    display: flex;
    margin-left:0 ;
}
.radio-container input[type="radio"]{
    display: none;
}
.radio-container label{
    background-color: rgb(236,235,234);
    padding: 3.7px 5px;
    box-shadow: 0px 0px 2px 1px rgb(152,143,143);
    cursor: pointer;
    transition: all 0.3s;
}
#month+label{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.radio-container label:hover{
    background-color: rgb(116,101,101);
    color: white;
}
.radio-container input[type="radio"]:checked+label{
    background-color: rgb(116,101,101);
    color: white;
}
.output{
    margin: 10px;
    display: flex;
    flex-direction: column;
    }
    .output p{
        font-size: 16px;
        border-radius: 4px;
        padding: 4px;
        margin: 4px;
        width: 100%;
        box-shadow: 0px 0px 5px rgb(51,48,48);
        color: rgb(62,58,58);
        font-weight: 550;
    }
    .output p span{
        float:right;
        word-wrap: break-word;
        color: rgb(101,17,41);
        font-weight: bolder;
        font-size: larger;
    }
